html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  color: #555;
  transition: all 0.3s linear;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-fixed {
  padding: 20px 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-toggle-menu {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.header-logo-image {
  font-size: 40px;
  color: #82d8fb;
}

.header-logo-text {
  color: #000;
  font-size: 40px;
  font-family: "Brygada 1918", sans-serif;
  font-weight: 700;
  flex-shrink: 0;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 30px;
}

.header-menu-link {
  font-size: 20px;
  font-weight: 500;
}

.header-menu-item:first-child .header-menu-link {
  color: #000;
  transition: all 0.2s linear;
}

.header-menu-item:not(:first-child) .header-menu-link,
.header-icon {
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
  cursor: pointer;
}

.header-menu-item .header-menu-link:hover {
  color: #fb845d;
}

.dropdown-list {
  position: absolute;
  left: -20px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px 70px 20px 20px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
  z-index: 1300;
}

.dropdown-list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: transparent;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  cursor: pointer;
}

.dropdown-list a {
  font-size: 18px;
  display: block;
  color: #000;
  margin-bottom: 10px;
  transition: all 0.2s linear;
}

.dropdown-list a:last-child {
  margin-bottom: 0;
}

.dropdown-list a:hover {
  color: #fb845d;
}

.header-sign {
  display: flex;
  gap: 0 30px;
}

.header-signin,
.header-signup {
  color: #000;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  border: 2px solid #fb845d;
  transition: all 0.2s linear;
  cursor: pointer;
  font-weight: 500;
}

.header-signin:hover,
.header-signup:hover {
  background-color: #fb845d;
  border-color: transparent;
  color: #fff;
}

.header-toggle-icon {
  font-size: 35px;
  cursor: pointer;
  color: #555;
  transition: all 0.3s linear;
}

.header-box {
  width: 45px;
  height: 24px;
  border: 2px solid #555;
  margin: 0 auto;
  border-radius: 15px;
  padding: 1px 2px 1px 2px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.header-spin {
  width: 18px;
  height: 18px;
  background-color: #555;
  border-radius: 50%;
  transition: all 0.3s linear;
}

.header-box.is-active {
  background-color: #fb845d;
  border-color: transparent;
}

.header-box.is-active .header-spin {
  background-color: #fff;
  transform: translateX(20px);
}

body.is-active {
  background-color: #000;
}

.line-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 5px;
  background-color: #fb845d;
  border-radius: 2px;
  transition: all 0.3s linear;
  z-index: 2000;
}

@media screen and (max-width: 1439px) {
  .header-signin,
.header-signup {
    padding: 10px 20px;
    font-size: 18px;
  }
  .header-menu-link {
    font-size: 18px;
  }
  .dropdown-list a {
    font-size: 18px;
  }
}
@media screen and (max-width: 1279px) {
  .header-logo-text,
.header-logo-image {
    font-size: 30px;
  }
  .header-menu,
.header-sign {
    gap: 0 20px;
  }
}
@media screen and (max-width: 1023px) {
  .header-logo-text,
.header-logo-image {
    font-size: 27px;
  }
  .header-menu,
.header-sign {
    gap: 0 12px;
  }
  .header-menu,
.header-menu-link {
    font-size: 16px;
    white-space: nowrap;
  }
  .dropdown-list a {
    font-size: 16px;
  }
  .header-signin,
.header-signup {
    font-size: 16px;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 767px) {
  .header-logo-text {
    font-size: 25px;
  }
  .header-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 500;
    display: block;
    padding: 55px 20px 20px 20px;
    transform: translateX(100%);
    transition: all 0.3s linear;
  }
  .header-menu-item {
    border-bottom: 1px solid #555;
    margin-bottom: 15px;
  }
  .header-menu-link {
    color: #fff !important;
    display: block;
    padding: 15px;
    font-size: 20px;
  }
  .header-icon {
    color: #fff;
  }
  .header-menu-item:hover {
    background-color: #ff6651;
  }
  .dropdown-list a {
    font-size: 20px;
  }
  .header-sign {
    display: block;
  }
  .header-signup {
    margin: 15px 0;
  }
  .header-signin,
.header-signup {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: 100%;
    display: block;
    color: #fff;
  }
  .header-toggle-menu {
    display: block;
    font-size: 30px;
    color: #555;
    position: relative;
    z-index: 2000;
  }
  .header-box {
    margin-top: 20px;
  }
  .line-effect {
    display: none;
  }
  .header-menu.is-active {
    transform: translateX(0);
  }
}
.recommend {
  margin-top: 150px;
}

.recommend-caption {
  text-align: center;
  font-size: 46px;
  color: #343661;
  font-family: "Brygada 1918", sans-serif;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.recommend-caption::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 5px;
  background-color: #fb845d;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.recommend-all {
  color: #fb845d;
  display: block;
  width: max-content;
  font-size: 18px;
  font-weight: 500;
  margin: 20px auto 0;
}

.recommend-all i {
  display: inline-block;
  margin-left: 7px;
}

.recommend-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recommend-image {
  height: 230px;
  cursor: pointer;
  overflow: hidden;
  display: block;
  position: relative;
}

.recommend-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}

.recommend-image img:hover {
  transform: scale(1.2);
}

.recommend-item {
  width: calc(25% - 18.75px);
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.recommend-item:nth-child(5),
.recommend-item:nth-child(6),
.recommend-item:nth-child(7),
.recommend-item:nth-child(8),
.recommend-item:nth-child(9),
.recommend-item:nth-child(10),
.recommend-item:nth-child(11),
.recommend-item:last-child {
  margin-top: 40px;
}

.recommend-best-seller {
  position: absolute;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #fb845d;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.recommend-content {
  padding: 25px 20px;
  height: calc(100% - 230px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recommend-intro a {
  font-size: 20px;
  font-family: "Brygada 1918", sans-serif;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  transition: all 0.3s linear;
}

.recommend-intro a:hover {
  color: #fb845d;
}

.recommend-time {
  margin-top: 15px;
}

.recommend-time i {
  color: #fb845d;
}

.recommend-text-time,
.recommend-text {
  margin-left: 5px;
  color: #000;
}

.recommend-refer {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recommend-evaluate {
  display: flex;
  align-items: center;
}

.recommend-evaluate i {
  color: #ffa11a;
  font-size: 13px;
}

.recommend-evaluate span {
  font-size: 13px;
}

.recommend-from {
  display: block;
  font-size: 18px;
  color: #000;
}

.recommend-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.recommend-number {
  font-size: 23px;
  color: #fb845d;
  font-family: "Brygada 1918", sans-serif;
  font-weight: 700;
  margin-top: 5px;
  display: inline-block;
}

.recommend-from.sale {
  position: relative;
}

.recommend-from.sale::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #555;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1279px) {
  .recommend {
    margin-top: 50px;
  }
  .recommend-item {
    width: calc(50% - 10px);
  }
  .recommend-image {
    height: 350px;
  }
  .recommend-content {
    height: calc(100% - 350px);
  }
  .recommend-item:nth-child(3),
.recommend-item:nth-child(4) {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .recommend-image {
    height: 250px;
  }
  .recommend-content {
    height: calc(100% - 250px);
  }
}
@media screen and (max-width: 767px) {
  .recommend-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-auto-columns: 80%;
    grid-auto-flow: column;
    grid-gap: 0 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .recommend-list::-webkit-scrollbar {
    display: none;
  }
  .recommend-item {
    width: 100%;
    scroll-snap-align: center;
  }
  .recommend-item:nth-child(5),
.recommend-item:nth-child(6),
.recommend-item:nth-child(7),
.recommend-item:nth-child(8),
.recommend-item:nth-child(9),
.recommend-item:nth-child(10),
.recommend-item:nth-child(11),
.recommend-item:last-child {
    margin-top: 0;
  }
}
.footer {
  margin-top: 100px;
  background-color: #efefef;
  padding-bottom: 30px;
}

.footer-top {
  padding: 50px 0;
  background-color: #fb845d;
}

.footer-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-top-caption {
  color: #fff;
  font-family: "Brygada 1918", sans-serif;
  font-size: 30px;
}

.footer-top-get {
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 30px;
  border-radius: 30px;
  transition: all 0.3s linear;
}

.footer-top-get:hover {
  color: #fb845d;
  background-color: #fff;
}

.footer-main {
  margin-top: 70px;
}

.footer-main-container {
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.footer-wrap-column {
  width: calc(35% - 20px);
}

.footer-wrap-columns {
  width: calc(65% - 20px);
  display: flex;
  justify-content: space-between;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  color: #000;
  font-family: "Brygada 1918", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.footer-desc {
  margin-top: 45px;
  line-height: 1.3;
}

.footer-text {
  color: #000;
  font-family: "Brygada 1918", sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-top: 40px;
  font-size: 20px;
}

.footer-social-list {
  margin-top: 30px;
  display: flex;
  gap: 0 10px;
}

.footer-social-link i {
  font-size: 20px;
  color: #fff;
  width: 35px;
  height: 35px;
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s linear;
}

.footer-social-item .footer-social-link i:hover {
  background-color: #fb845d;
}

.footer-wrap-columns .footer-column:first-child,
.footer-wrap-columns .footer-column:nth-child(2) {
  width: calc(30% - 60px);
}

.footer-wrap-columns .footer-column:last-child {
  width: calc(40% - 60px);
}

.footer-item-link:first-child .footer-link {
  color: #000;
  font-size: 20px;
  font-family: "Brygada 1918", sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 30px;
}

.footer-item-link:not(:first-child) .footer-link {
  color: #555;
  display: inline-block;
}

.footer-item-link:not(:first-child):not(:last-child) {
  margin-bottom: 12px;
}

.footer-item-link .footer-link {
  transition: all 0.3s linear;
}

.footer-item-link .footer-link:hover {
  color: #fb845d;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom-text {
  display: block;
  text-align: center;
}

@media screen and (max-width: 1439px) {
  .footer {
    margin-top: 80px;
  }
}
@media screen and (max-width: 1279px) {
  .footer {
    margin-top: 60px;
  }
  .footer-top {
    padding: 40px 0;
  }
  .footer-wrap-columns .footer-column:first-child,
.footer-wrap-columns .footer-column:nth-child(2) {
    width: calc(30% - 40px);
  }
  .footer-wrap-columns .footer-column:last-child {
    width: calc(40% - 40px);
  }
}
@media screen and (max-width: 1023px) {
  .footer-top-caption {
    font-size: 25px;
  }
  .footer-desc {
    font-size: 14px;
    margin-top: 35px;
  }
  .footer-text {
    margin-top: 30px;
  }
  .footer-social-list {
    margin-top: 20px;
  }
  .footer-item-link .footer-link,
.footer-bottom-text {
    font-size: 14px;
  }
  .footer-wrap-columns .footer-column:first-child,
.footer-wrap-columns .footer-column:nth-child(2) {
    width: calc(30% - 10px);
  }
  .footer-wrap-columns .footer-column:last-child {
    width: calc(40% - 10px);
  }
  .footer-social-link i {
    font-size: 15px;
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 767px) {
  .footer-top {
    padding: 20px 0;
  }
  .footer-top-container {
    display: block;
    text-align: center;
  }
  .footer-top-caption {
    margin-bottom: 30px;
    line-height: 1.2;
    font-size: 20px;
  }
  .footer-top-get {
    padding: 10px 20px;
  }
  .footer-main {
    margin-top: 30px;
  }
  .footer-columns,
.footer-wrap-columns {
    display: block;
  }
  .footer-wrap-column,
.footer-wrap-columns {
    width: 100%;
  }
  .footer-wrap-columns .footer-column {
    width: 100% !important;
  }
  .footer-wrap-columns {
    margin-top: 20px;
  }
  .footer-wrap-column .footer-column,
.footer-wrap-columns .footer-column {
    text-align: center;
  }
  .footer-wrap-columns .footer-column:not(:first-child) {
    margin-top: 20px;
  }
  .footer-social-list {
    justify-content: center;
  }
  .footer-desc,
.footer-text {
    margin-top: 20px;
  }
  .footer-item-link:first-child .footer-link {
    margin-bottom: 15px;
  }
  .footer-item-link .footer-link,
.footer-bottom-text {
    font-size: 16px;
  }
}

/*# sourceMappingURL=recommend.css.map */
