$primary-font: "Inter", sans-serif;
$secondary-font: "Brygada 1918", sans-serif;
$primary-color: #555;
$secondary-color: #343661;
$third-color: #fb845d;
$fourth-color: #fff;
$fifth-color: #efefef;
$sixth-color: #000;
$bgc-color: #f7f7f7;
$star-color: #ffa11a;
$fb-color: #0674e7;
$valid-color: #20e3b2;
$invalid-color: #ff4500;
